div {
  border-radius: 5px;
  box-sizing: border-box;
  width: 440px;
}

table {
  background: #fff;
  border-collapse: collapse;
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  width: 100%;
}

td {
  border: 1px solid #ccc;
  color: #444;
  line-height: 44px;
  text-align: center;
}

tr:first-child td {
  color: #222;
  font-weight: 700;
}

.selected {
  background: #9FF7F8;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}

.hasevent {
  background: #FA58F4;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}

.future {
  font-size: 24px;
}

.disp {
  float:right;
}

.todayhasevents {
  background: repeating-linear-gradient(
    -55deg,
    #FA58F4,
    #FA58F4 10px,
    #5AD44C 10px,
    #5AD44C 20px
  );
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}

.today {
  background: #5AD44C;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}
